body{
    margin: 1% 5%;
}
#navbar{
    display: flex;
    position: relative;    
}
#navbar::before{
    content: " ";
    background-color: rgb(215, 218, 233);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul{
    display: flex;
}
#logo img{
    height: 80%;
    width: 35%;
    border: 2px solid white;
    margin: 2% 46% 3% 40%;
    border-radius: 91px;
}
.section{
    margin: 3% 10%;
    font-size: 1.5em;
    list-style: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
}
.section:hover{
    color: rgb(237, 117, 87);
    
}
#home{
    display: flex;
    position: relative;
  
}
#home::before{
    content: " ";
    position: absolute;
    background-image: url(h2.jpg);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;

}
#info{
  padding: 50px;
  margin: 50px 28PX 50PX 85PX;
  width: 508px;
  
}
.button{
    
   border-radius: 15px;
   font-size: 20px;
   margin: 5px 0px;
   border: 2px solid white;
   padding: 2px 8px;
   font-family: 'Kanit', sans-serif;
   cursor: pointer;
}
.button:hover{
    color: rgb(237, 117, 87);
}
.myprojects{
    position: relative;
   
}
.myprojects::before{
    content: " ";
    background-color: rgb(215, 218, 233);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
.myprojects h1{
    display: flex;
    justify-content: center;
}
.projects{
    display: flex;
}
.project{
    margin: 20px 70px;
    height: 150px;
    width: 400px;
    border: 5px solid white;
    border-radius: 15px;
    display: flex;
}

.text{
    
  width: 205px;
  margin: 10px 10px;
  padding: 10px;
  font-size: 24px;
}
.text h6{
    margin: 8px 8px 8px 0px;
}
.logo2 img{
    width: 50px;
    border-radius: 52px;
    border: 5px solid white;
    margin: 20px 30px 10px 30px;
    width: 100px;

}
.button1{
    height: 30px;
  margin: 18px 35px;
  width: 90px;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
  font-size: 20px;
}
.button1:hover{
    color: rgb(237, 117, 87);
}
/*.........................*/
.myskills{
    position: relative;
   
}
.myskills::before{
    content: " ";
    background-color: rgb(215, 218, 233);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
.myskills h1{
    display: flex;
    justify-content: center;
}
.skills{
    display: flex;
}
.skill{
    margin: 20px 70px;
    height: 150px;
    width: 400px;
    border: 5px solid white;
    border-radius: 15px;
    display: flex;
}

.text{
    
  width: 205px;
  margin: 10px 10px;
  padding: 10px;
  font-size: 24px;
}
.text h6{
    margin: 8px 8px 8px 0px;
}
.skill img{
    
    border-radius: 35px;
    border: 5px solid white;
    margin: 20px 30px 10px 30px;
    width: 125px;

}
.button1{
    height: 30px;
  margin: 10px 35px;
  width: 90px;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
  font-size: 20px;
}



#contact h1{
    justify-content: center;
  font-size: 30px;
  display: flex;
    font-size: 30px;
}
.form{
    display: flex;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 9px;
    
}
.part1{
    margin: 0px 110px;
}
.formgroup{
    margin: 20px 0px;
}
#contact-box label{
    font-size: 1.3 rem;
    font-family:'Oswald', sans-serif ;
}

#social{
    position: relative;
    margin: 15px 0px;
   
}
#social::before{
    content: " ";
    background-color: rgb(215, 218, 233);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#social h1{
    display: flex;
    justify-content: center;
}
#social img{
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
}

.centre{
    display: flex;
  align-items: center;
  justify-content: center;
}
.box{
    display: flex;   
    justify-content: center;
}
.s-items{
    margin: 1% 2%;
}

